runs
output/tracking/*
output/training/*
output/tensorboard_runs
output/*
!output/model_weights/
*.pt
__pycache__
.vscode
configs/*
!configs/example_training_config.toml
!configs/siamban.toml
!configs/siamfc.toml
!configs/vit.toml
!configs/nano.toml
!configs/evaluation.toml
/.zed
